<% provide(:title, "Help")%>
<h1>About</h1>
<p>
  The <a href="https://how-many.herokuapp.com/"><em>How-many App</em></a>, was inspired bye 
  Almost never getting a correct result when searching a Average Joe's name on <a href="https://duckduckgo.com/">google</a>
</p>
<h3>credit to the goes to <a href="https://how-many.herokuapp.com/"><em>How-many App</em></a></h3>