<footer class="footer">
  <small>
    one stop shop to <a href="https://chabadoncampus.org">become a develepor</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>